{% extends 'base.html.twig' %}

{% block title %}Sneak'Addict - Produits{% endblock %}

{% block body %}
{{ parent() }}
<div class ="container">
    <div class="row">
        {% for sneaker in sneakers %}
        <div class="col-sm">

            <div class="card" style="width: 18rem; margin-bottom: 50px; border : none">
                <a href="{{ path('product', {'id' : sneaker.id }) }}" style="text-decoration: none; color: black">
                    <img src={{ asset('images/white-shoes.jpeg') }} class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title" style="font-size: small">Polo Ralph Lauren - Trackster - Baskets en cuir avec logo sport - Multicolore</p>
                        <p class="card-text" style="color: grey"><b>{{sneaker.prix}}/b></p>
                    </div>
                </a>

            </div>

        </div>
        {% endfor %}
{% endblock %}